body {
    text-align: center;
    background-color: #ffb8b8;
  }
  
  #level-title {
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
    margin:  5%;
    color: #FEF2BF;
  }
  
  .container {
    display: block;
    width: 50%;
    margin: auto;
  
  }
  
  .btn {
    margin: 25px;
    display: inline-block;
    height: 200px;
    width: 200px;
    border: 10px solid black;
    border-radius: 20%;
  }
  
  .game-over {
    background-color: red;
    opacity: 0.8;
  }
  
  .blue {
    background-color: #17c0eb;
    border-radius: 90px;
  }
  
  .purple {
    background-color: #c56cf0;
  }
  
  .pink {
    background-color: #ffcccc;
    border-radius: 90px;
  }
  
  .yellow {
    background-color: #fffa65;
  }
  .orange {
    background-color: #ff9f1a;
    display: none;
  }
  #img {
    display: none;
  }
  
  .pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
  }
  